<!DOCTYPE html>
<html lang="fr" ng-app="monApp"> <!-- ng-model="monApp"> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>=REACT DOCUMENT=</title>
</head>

<body>
    Utilisateur : {{ user }}<br />
    <hr />

    <input ng-model="nom" placeholder="nom" type="text" /><br />
    <input ng-model="prenom" placeholder="prenom" type="text" /><br />
    <hr />


    <!-- <input ng-model="nom" value="{{nom + prenom}}" type="button" /> -->
    <!-- <h1> Prenom : {{prenom.toUpperCase()}}Nom : {{nom}}</h1> -->
    <div id="root">
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

</html>